<div class="full-width">
  <ng-container *ngFor="let item of images$ | async">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <img class="rounded-circle" src="{{item.user.profile_image.small}}" alt="">
        {{ item.user.name }}
      </div>  
      <img src="{{item.urls.regular}}" class="card-img-top" alt="{{item.alt_description}}">  
      <div class="card-body text-center">      
        <i class="bi bi-heart fs-2 me-1"></i>
        <i class="bi bi-plus-square fs-2 ms-1"></i>
      </div>
    </div>
  </ng-container>
</div>