<div class="full-width">
  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1621583219717-ef1097b4cd32?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNjQ2NDN8MHwxfGFsbHx8fHx8fHx8fDE2MjE2NTE4NzM&ixlib=rb-1.2.1&q=80&w=1080" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <img class="rounded-circle" src="https://images.unsplash.com/profile-1524516487049-ef400fb20120?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32" alt="">
      Troy Spoelma
    </div>  
    <img src="https://images.unsplash.com/photo-1621972660295-0ae270b0b38e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNjQ2NDN8MHwxfGFsbHwyfHx8fHx8Mnx8MTYyMjA3Mzg0Mg&ixlib=rb-1.2.1&q=80&w=1080" class="card-img-top" alt="...">  
    <div class="card-body">      
      
    </div>
  </div>
</div>